:css
  div#translations .key{
    float:left;
    width:400px;
    overflow:hidden;
    padding-left:10px;
  }

  div#translations .value{
    float:left;
    overflow:hidden;
    padding-left:10px;
  }

  div#translations .links{
    float:right;
    padding-bottom:10px;
  }
  div.translation{
    overflow: auto;
    width: 100%
  }
  div.translation:hover{
    background:#eee;
  }
