%h1 Translations

= link_to "New Translation", new_interpreter_translation_path

#translations
  .header
    .key Key
    .value Value
  %br.clearfloat
  .body
    - @translations.each do |t|
      .translation{:id => t.id}
        .key= t.id
        .value= t.value
        .links
          =# link_to 'Remove', interpreter_translation_path(t.key), :method => :delete
      %br.clearfloat

= link_to "New Translation", new_interpreter_translation_path
